In [1]:
import pandas as pd

In [2]:
data_14 = pd.read_csv("data/eaglei_outages_with_events_2014.csv")
data_15 = pd.read_csv("data/eaglei_outages_with_events_2015.csv")
data_16 = pd.read_csv("data/eaglei_outages_with_events_2016.csv")
data_17 = pd.read_csv("data/eaglei_outages_with_events_2017.csv")
data_18 = pd.read_csv("data/eaglei_outages_with_events_2018.csv")
data_19 = pd.read_csv("data/eaglei_outages_with_events_2019.csv")
data_20 = pd.read_csv("data/eaglei_outages_with_events_2020.csv")
data_21 = pd.read_csv("data/eaglei_outages_with_events_2021.csv")
data_22 = pd.read_csv("data/eaglei_outages_with_events_2022.csv")
data_23 = pd.read_csv("data/eaglei_outages_with_events_2023.csv")

In [3]:
data = pd.concat([data_14,data_15,data_16,data_17,data_18,data_19,data_20,data_21,data_22,data_23],axis=0,ignore_index=True)
data

,event_id,state_event,Datetime Event Began,Datetime Restoration,Event Type,fips,state,county,start_time,duration,end_time,min_customers,max_customers,mean_customers
0,Arkansas-0,Arkansas,2014-11-24 00:00:00,2014-11-24 00:00:00,Fuel Supply Emergency - Coal,5021,Arkansas,Clay,2014-11-24 09:30:00,5.75,2014-11-24 15:15:00,456.0,1803.0,1301.478261
1,Arkansas-0,Arkansas,2014-11-24 00:00:00,2014-11-24 00:00:00,Fuel Supply Emergency - Coal,5035,Arkansas,Crittenden,2014-11-24 09:30:00,1.25,2014-11-24 10:45:00,755.0,755.0,755.000000
2,Arkansas-0,Arkansas,2014-11-24 00:00:00,2014-11-24 00:00:00,Fuel Supply Emergency - Coal,5051,Arkansas,Garland,2014-11-24 06:15:00,0.75,2014-11-24 07:00:00,279.0,293.0,287.333333
3,Arkansas-0,Arkansas,2014-11-24 00:00:00,2014-11-24 00:00:00,Fuel Supply Emergency - Coal,5069,Arkansas,Jefferson,2014-11-25 18:15:00,1.25,2014-11-25 19:30:00,252.0,256.0,254.000000
4,Arkansas-0,Arkansas,2014-11-24 00:00:00,2014-11-24 00:00:00,Fuel Supply Emergency - Coal,5093,Arkansas,Mississippi,2014-11-24 09:30:00,0.75,2014-11-24 10:15:00,301.0,301.0,301.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526160,Wisconsin-4,Wisconsin,2023-07-28 22:58:00,2023-07-28 22:58:00,- Weather or natural disaster,55137,Wisconsin,Waushara,2023-07-29 02:30:00,3.00,2023-07-29 05:30:00,293.0,348.0,342.166667
526161,Wisconsin-4,Wisconsin,2023-07-28 22:58:00,2023-07-28 22:58:00,- Weather or natural disaster,55137,Wisconsin,Waushara,2023-07-29 08:15:00,3.75,2023-07-29 12:00:00,595.0,637.0,611.733333
526162,Wisconsin-4,Wisconsin,2023-07-28 22:58:00,2023-07-28 22:58:00,- Weather or natural disaster,55139,Wisconsin,Winnebago,2023-07-29 04:15:00,5.00,2023-07-29 09:15:00,235.0,530.0,334.050000
526163,Wisconsin-4,Wisconsin,2023-07-28 22:58:00,2023-07-28 22:58:00,- Weather or natural disaster,55141,Wisconsin,Wood,2023-07-29 02:00:00,2.25,2023-07-29 04:15:00,758.0,762.0,758.444444
526164,Wisconsin-4,Wisconsin,2023-07-28 22:58:00,2023-07-28 22:58:00,- Weather or natural disaster,55141,Wisconsin,Wood,2023-07-30 18:45:00,1.75,2023-07-30 20:30:00,411.0,411.0,411.000000

In [4]:
data.drop(['event_id','state_event','Datetime Event Began','Datetime Restoration'],inplace=True,axis=1)

In [5]:
data

,Event Type,fips,state,county,start_time,duration,end_time,min_customers,max_customers,mean_customers
0,Fuel Supply Emergency - Coal,5021,Arkansas,Clay,2014-11-24 09:30:00,5.75,2014-11-24 15:15:00,456.0,1803.0,1301.478261
1,Fuel Supply Emergency - Coal,5035,Arkansas,Crittenden,2014-11-24 09:30:00,1.25,2014-11-24 10:45:00,755.0,755.0,755.000000
2,Fuel Supply Emergency - Coal,5051,Arkansas,Garland,2014-11-24 06:15:00,0.75,2014-11-24 07:00:00,279.0,293.0,287.333333
3,Fuel Supply Emergency - Coal,5069,Arkansas,Jefferson,2014-11-25 18:15:00,1.25,2014-11-25 19:30:00,252.0,256.0,254.000000
4,Fuel Supply Emergency - Coal,5093,Arkansas,Mississippi,2014-11-24 09:30:00,0.75,2014-11-24 10:15:00,301.0,301.0,301.000000
...,...,...,...,...,...,...,...,...,...,...
526160,- Weather or natural disaster,55137,Wisconsin,Waushara,2023-07-29 02:30:00,3.00,2023-07-29 05:30:00,293.0,348.0,342.166667
526161,- Weather or natural disaster,55137,Wisconsin,Waushara,2023-07-29 08:15:00,3.75,2023-07-29 12:00:00,595.0,637.0,611.733333
526162,- Weather or natural disaster,55139,Wisconsin,Winnebago,2023-07-29 04:15:00,5.00,2023-07-29 09:15:00,235.0,530.0,334.050000
526163,- Weather or natural disaster,55141,Wisconsin,Wood,2023-07-29 02:00:00,2.25,2023-07-29 04:15:00,758.0,762.0,758.444444
526164,- Weather or natural disaster,55141,Wisconsin,Wood,2023-07-30 18:45:00,1.75,2023-07-30 20:30:00,411.0,411.0,411.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526165 entries, 0 to 526164
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Event Type      526165 non-null  object
 1   fips            526165 non-null  int64
 2   state           526165 non-null  object
 3   county          526165 non-null  object
 4   start_time      526165 non-null  object
 5   duration        526165 non-null  float64
 6   end_time        526165 non-null  object
 7   min_customers   526165 non-null  float64
 8   max_customers   526165 non-null  float64
 9   mean_customers  526165 non-null  float64
dtypes: float64(4), int64(1), object(5)
memory usage: 40.1+ MB

In [7]:
data['start_datetime']=pd.to_datetime(data['start_time'],errors='coerce')
data['end_datetime']=pd.to_datetime(data['end_time'],errors='coerce')
data

,Event Type,fips,state,county,start_time,duration,end_time,min_customers,max_customers,mean_customers,start_datetime,end_datetime
0,Fuel Supply Emergency - Coal,5021,Arkansas,Clay,2014-11-24 09:30:00,5.75,2014-11-24 15:15:00,456.0,1803.0,1301.478261,2014-11-24 09:30:00,2014-11-24 15:15:00
1,Fuel Supply Emergency - Coal,5035,Arkansas,Crittenden,2014-11-24 09:30:00,1.25,2014-11-24 10:45:00,755.0,755.0,755.000000,2014-11-24 09:30:00,2014-11-24 10:45:00
2,Fuel Supply Emergency - Coal,5051,Arkansas,Garland,2014-11-24 06:15:00,0.75,2014-11-24 07:00:00,279.0,293.0,287.333333,2014-11-24 06:15:00,2014-11-24 07:00:00
3,Fuel Supply Emergency - Coal,5069,Arkansas,Jefferson,2014-11-25 18:15:00,1.25,2014-11-25 19:30:00,252.0,256.0,254.000000,2014-11-25 18:15:00,2014-11-25 19:30:00
4,Fuel Supply Emergency - Coal,5093,Arkansas,Mississippi,2014-11-24 09:30:00,0.75,2014-11-24 10:15:00,301.0,301.0,301.000000,2014-11-24 09:30:00,2014-11-24 10:15:00
...,...,...,...,...,...,...,...,...,...,...,...,...
526160,- Weather or natural disaster,55137,Wisconsin,Waushara,2023-07-29 02:30:00,3.00,2023-07-29 05:30:00,293.0,348.0,342.166667,2023-07-29 02:30:00,2023-07-29 05:30:00
526161,- Weather or natural disaster,55137,Wisconsin,Waushara,2023-07-29 08:15:00,3.75,2023-07-29 12:00:00,595.0,637.0,611.733333,2023-07-29 08:15:00,2023-07-29 12:00:00
526162,- Weather or natural disaster,55139,Wisconsin,Winnebago,2023-07-29 04:15:00,5.00,2023-07-29 09:15:00,235.0,530.0,334.050000,2023-07-29 04:15:00,2023-07-29 09:15:00
526163,- Weather or natural disaster,55141,Wisconsin,Wood,2023-07-29 02:00:00,2.25,2023-07-29 04:15:00,758.0,762.0,758.444444,2023-07-29 02:00:00,2023-07-29 04:15:00
526164,- Weather or natural disaster,55141,Wisconsin,Wood,2023-07-30 18:45:00,1.75,2023-07-30 20:30:00,411.0,411.0,411.000000,2023-07-30 18:45:00,2023-07-30 20:30:00

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526165 entries, 0 to 526164
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Event Type      526165 non-null  object
 1   fips            526165 non-null  int64
 2   state           526165 non-null  object
 3   county          526165 non-null  object
 4   start_time      526165 non-null  object
 5   duration        526165 non-null  float64
 6   end_time        526165 non-null  object
 7   min_customers   526165 non-null  float64
 8   max_customers   526165 non-null  float64
 9   mean_customers  526165 non-null  float64
 10  start_datetime  526165 non-null  datetime64[ns]
 11  end_datetime    526165 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(4), int64(1), object(5)
memory usage: 48.2+ MB

In [9]:
data.isna().sum()

Event Type        0
fips              0
state             0
county            0
start_time        0
duration          0
end_time          0
min_customers     0
max_customers     0
mean_customers    0
start_datetime    0
end_datetime      0
dtype: int64

In [10]:
data.drop(['start_time','end_time'],inplace=True,axis=1)

In [11]:
data

,Event Type,fips,state,county,duration,min_customers,max_customers,mean_customers,start_datetime,end_datetime
0,Fuel Supply Emergency - Coal,5021,Arkansas,Clay,5.75,456.0,1803.0,1301.478261,2014-11-24 09:30:00,2014-11-24 15:15:00
1,Fuel Supply Emergency - Coal,5035,Arkansas,Crittenden,1.25,755.0,755.0,755.000000,2014-11-24 09:30:00,2014-11-24 10:45:00
2,Fuel Supply Emergency - Coal,5051,Arkansas,Garland,0.75,279.0,293.0,287.333333,2014-11-24 06:15:00,2014-11-24 07:00:00
3,Fuel Supply Emergency - Coal,5069,Arkansas,Jefferson,1.25,252.0,256.0,254.000000,2014-11-25 18:15:00,2014-11-25 19:30:00
4,Fuel Supply Emergency - Coal,5093,Arkansas,Mississippi,0.75,301.0,301.0,301.000000,2014-11-24 09:30:00,2014-11-24 10:15:00
...,...,...,...,...,...,...,...,...,...,...
526160,- Weather or natural disaster,55137,Wisconsin,Waushara,3.00,293.0,348.0,342.166667,2023-07-29 02:30:00,2023-07-29 05:30:00
526161,- Weather or natural disaster,55137,Wisconsin,Waushara,3.75,595.0,637.0,611.733333,2023-07-29 08:15:00,2023-07-29 12:00:00
526162,- Weather or natural disaster,55139,Wisconsin,Winnebago,5.00,235.0,530.0,334.050000,2023-07-29 04:15:00,2023-07-29 09:15:00
526163,- Weather or natural disaster,55141,Wisconsin,Wood,2.25,758.0,762.0,758.444444,2023-07-29 02:00:00,2023-07-29 04:15:00
526164,- Weather or natural disaster,55141,Wisconsin,Wood,1.75,411.0,411.0,411.000000,2023-07-30 18:45:00,2023-07-30 20:30:00

In [12]:
data.sort_values(by='start_datetime',inplace=True)

In [13]:
state_codes = {
    'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR',
    'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE',
    'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID',
    'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS',
    'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD',
    'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS',
    'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV',
    'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY',
    'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
    'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI',
    'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX',
    'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA',
    'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'
}
data['state_codes'] = data['state'].map(state_codes)

In [14]:
data.to_csv("data/power_outage.csv",index=False)